/* Typographies */

$font-family-base: 'Lato', 'Open Sans', sans-serif;
$font-family-title: 'Playfair Display', 'Lato', 'Open Sans', sans-serif;

/* Breakpoints */

$bp-xs-min: 375px;
$bp-sm-min: 680px;
$bp-md-min: 1000px;
$bp-lg-min: 1200px;
$bp-xl-min: 1400px;

/* Colors */
$button-color: #FF7F50;
$button-color-hover: #d33800;

