@font-face {
    font-family: "Misto";
    src: url("Misto.woff2") format("woff2"),
         url("Misto.woff") format("woff");
  }

body{
    font-size: 20px;
    background-color: orange;
}

h1{
    font-family: "Misto";
    font-weight: bold;
}
.underlined-text{
    text-decoration: underline;
}
section{
    height: min-content;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
}
section:first{
    margin-top: 5%;
}